<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Adding player name </title>
</head>
<body>
  <h1>Adding player name</h1>

  <h3>Player add your name here</h3>
  <form method="post" action="/names">
   
    Player name: <input type="text" name="player" />

    <input type="submit" value="Submit" />

  </form>

  <hr />
  
</body>
</html>