Hi  <%= @player%>!<p>
What option would you like to choose?
<form action '/choose' method = 'post'>
  <input name ='choose' type = 'submit' value = 'paper'>
  <input name ='choose' type = 'submit' value = 'rock'>
  <input name ='choose' type = 'submit' value = 'paper'>
</form>